<div class="league" *ngIf="league">

    <div class="card">
      <div class="card-title">
   <p class="card-header-title"> League {{league}}</p>
      </div>
      <div class="card-content">
        <div class="content">
          <!-- <form action="" [FormGroup]="compeForm">
              <div class="field is-horizontal">
               <div class="field-body">
                  <div class="field has-addons">
                      <p class="control">
                        <input class="input" type="text" placeholder="Prize" [formControl]>
                      </p>
                      <p class="control">
                        <a class="button is-static">
                          Ether
                        </a>
                      </p>
                    </div>
                    <div class="field has-addons">
                        <p class="control">
                          <input class="input" type="text" placeholder="Gas">
                        </p>
                        <p class="control">
                          <a class="button is-static">
                            Gas
                          </a>
                        </p>
                      </div>
                  </div>
                </div>
                <button class="button is-primary">Create Competion</button>

          </form> -->

          </div>


    </div>

  </div>

</div>
