<div class="league" *ngIf="league">

    <div class="card">
      <div class="card-title">
   <p class="card-header-title"> League {{league | slice: 0:5}}</p>
      </div>
      <div class="card-content">
        <div class="content">
          <div class="compe">
              <div class="box" *ngIf='competitions'>
                  <table class="table is-fullwidth">
                    <thead>
                       <tr>
                        <th>
                          index
                        </th>
                        <th>
                          Complete
                        </th>
                        <th>
                          Prize
                        </th>
                        <th>
                          Max Players
                        </th>
                      </tr>
                    </thead>
                      <tbody *ngFor = "let c of competitions">
                        <tr>
                          <th >id: {{c.id | slice: 0:5}}</th>
                          <td>Complete: {{c.complete}}</td>
                          <td>Prize: {{c.prize}}</td>
                          <td>Max Players: {{c.maxPlayers}}</td>
                          <td>Joined: {{c.playerCount}}</td>

                        </tr>
                    </tbody>
                  </table>
                  <!-- {{competions}} -->
                </div>

          </div>
<button (click)="join()"class="button">Join Competition</button>
<button class="button" (click)=" getCompetitons(league)">Show Compe</button>
          </div>


    </div>

  </div>

</div>
