<div class="teams">
  <div class="container">
      <div class="columns">
          <div class="column is-one-quarter">
            <div class="card">
                <nav class="panel">
                  <div class="panel-heading is-primary">Select Players</div>
                  <div class="panel-block">
                    Choose from a club
                  </div>
                  <div class="panel-block">
                      <div class="navbar-item has-dropdown is-hoverable button">
                          <a class="navbar-link " routerLink='/teams'>
                           Select Team
                          </a>
                          <div class="navbar-dropdown is-boxed" >
                              <a *ngFor="let t of teams" class="navbar-item" (click)="selectTeam(t.code)">
                                {{t.name}}
                              </a>
                            </div>
                        </div>

                  </div>
                  <div class="panel-block heading">
                    <span>
                        <div class="heading is-warning">Goal Keepers</div>
                    </span>


                  </div>
                  <div class="panel-block"  *ngFor="let g of goalKeepers">
                           {{g.web_name}} | {{g.pointsTotal}}
                  </div>


                 </nav>


            </div>

          </div>
        </div>

  </div>

</div>
