<div class="teams">
  <div class="container">
   <div class="bg">
     <p class="title">Pick a team</p>
     <div class="columns">
        <div class="column is-one-thirds">
       <div class="pitch">
         <app-pitch *ngIf="teamPlayers" [teamPlayers] ="teamPlayers"></app-pitch>
         
       </div>
       <div class="confirm">
        <button class="button is-primary" [disabled]="completeTeam" (click)="sendTeam()">
          Confirm Team
        </button>
      </div>
          </div>
          <div class="column">
       <app-players (myEvent)="checkEvent($event)" [players]="players"  ></app-players>
       </div>
       <div class="column">
          <nav class="panel">
              <p class="panel-heading">
               Your ether balance is : {{balance}}
              </p>
              
              <a class="panel-block is-active" *ngFor="let t of teams">
                  <span class="panel-icon">
                    <i class="fas fa-book" aria-hidden="true"></i>
                  </span>
                 <p (click)="selectTeam(t.code)"> {{t.name}}</p>
                </a>
                </nav>
        

       </div>
    
     </div>
  
   </div>
  </div>
</div>